html,
body,
.main {
    height: 100%;
}

.container {
  padding: 70px;
}

body.bgimg {
	background: url("../images/lion.jpg") no-repeat center center fixed;
    background-size: cover;
}
@media (max-width: 450px) {
	body.bgimg {
		background: url("../images/lion_sm.jpg") no-repeat;
		/*background-size: auto;*/
	}
}
a {
	cursor: pointer;
	color: black;
}
a:hover {
	color: #666666;
}
.o-7 {
	opacity: 0.7;
}
#more {
  position: relative;
  padding-top: 250px;
  letter-spacing: 6px;
  color: white; 
}
#more_sm {
  position: relative;
  padding-top: 300px;
  /*letter-spacing: 1px;*/
  color: white; 
}
#more_sm .display-2 {
	font-size: 2.5em;
	font-weight: 100;
}
#more_sm .highlight {
	background-color: #4d4d4d;
    border-radius: 25px;
    padding-left: 10px;
}
.display-2 {
  font-size: 5.5rem;
  font-weight: 300; 
}
@media (min-width: 767px) and (max-width: 990px) {
	#more {
		padding: 250px 150px 10px 150px;
	}
}
@media (min-height: 500) and (max-height: 665px){
	#more_sm {
		padding-top: 200px;
	}
}
@media (max-height: 490px) {
	#more_sm {
		padding-top: 130px;
	}
	
}
/*PRELOADER*/
.spinner:before {
	content: '';
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	margin-left: -15px;
	border-radius: 50%;
	border: 1px solid #ccc;
	animation: spinner .6s linear infinite
}
/*NAVBAR*/
#navigation nav {
	margin-top: 45px;
}
#navigation .container-fluid {
	margin: 80px;
}
.navbar {
  margin: 80px;
  min-height: 60px;
  border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	box-shadow: 0 0 85px 0 rgba(0, 0, 0, .14);
	-webkit-box-shadow: 0 0 85px 0 rgba(0, 0, 0, .14);
	-moz-box-shadow: 0 0 85px 0 rgba(0, 0, 0, .14)
}
.navbar-brand img {
	margin-top: -10px;
}
.navbar-right {
	margin-right: 20px;
}
.navbar-nav>li>a {
	line-height: 30px;
}
.navbar-header i {
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	color: #ff531a
}

@media (max-width: 579px) {
	.navbar {
		margin: 20px;
	}
}
@media	(max-width: 370px) {
	.navbar-brand {
		padding-left: 3px;
	}
}
section#arrow {
	margin-top: -150px;
}
.fa-chevron-down {
	color: #fff;
}
/*ABOUT ME*/
#aboutMe {
	background-color: black;
	color: lightgrey;
}
#aboutMe p {
	font-size: 1.1em;
	letter-spacing: 1px;
	/*line-height: 15*/
}
#aboutMe h2 {
	text-align: right;
}
#aboutMe p {
	text-align: right;
}
#aboutMe h3 {
	text-align: right;
}

@media (max-width: 800px) {
	#aboutMe .container {
		padding: 50px;
	}
}
.title {
	list-style-image: url('../images/times.png') !important;
	font-size: larger;
	font-weight: bold;
	text-transform: uppercase;
	padding-left: 0px !important;
}
.title i {
	position: relative;
    background-color: rgba(0, 0, 0, 0.75);
    max-width: 33px;
    color: #fff;
    left: -30px;
    padding: 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-size: smaller;
}
@media (max-width: 374px) {
	p.title {
		font-size: small;	
	}
	.strong {
		font-size: small;
	}
}
#education .title i {
	background-color: #33cc33;
	padding: 10px 8px 10px 8px;
}
#language_education i {
	background-color: #0099ff;
}
#teaching_myself i {
	background-color: #6600ff;
}
#online i {
	background-color: #ff0066;
}
#work i {
	background-color: #ff9900;
}
#work a {
	font-size: 1em;
	color: #ff9900;
}
#timeline {
	background-color: white;
}
#timeline ul {
	padding: 10px 0 0 13px;
	margin: 0;
	border-left: 3px solid rgba(0, 0, 0, 0.05);
}
#timeline ul li {
	list-style-image: url('../images/circle.png');
	padding: 10px 0 10px 27px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}
ul .note {
	display: inline-block;
	margin: 8px;
	opacity: .75;
	text-transform: uppercase;
}
#timeline ul,li,p {
	/*padding-left: 8px;*/
}
strong {
	font-size: larger;
	font-weight: normal;
}
#timeline ul.description {
	opacity: .75;
}
#timeline li:hover {
	list-style-image: url('../images/circle_aktive.png');
	padding-left: 40px !important;
}
.title 
/*EDUCATION*/
#education a {
	font-size: 0.9em;
	color: #ff531a
}
#education .container {
	/*padding: 0px;*/
}
div#school {
	/*background-color: white;*/
  	background: rgba(0, 0, 0, .7);
  	color: lightgrey;
	/*border-radius: 15px;*/
	/*box-shadow: 2px 2px 2px black;*/
	/*margin-right: 10px;*/
	padding-bottom: 10px;
	text-align: right;
}
div#teach_myself {
	background-color: white;
  	background: rgba(230, 230, 230, .9);
	border-radius: 15px;
	box-shadow: 2px 2px 2px black;
	margin-right: 10px;
}
#teach_myself p {
	/*text-align: left;*/
}
div#online_courses {
	background-color: white;
  	background: rgba(230, 230, 230, .9);
	border-radius: 15px;
	box-shadow: 2px 2px 2px black;
	

}

/*PORTFOLIO*/
#portfolio {
	background-color: black;
	color: white;
}
.grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	/*min-width: 320px;*/
	max-width: 480px;
	max-height: 360px;
	width: 100%;
	height: auto;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}
.grid figure img {
	position: relative;
	display: block;
	/*min-height: 100%;*/
	max-width: 100%;
	height: auto;
	opacity: 0.8;
}
.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}
.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}
.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}
.grid figure h2 span {
	font-weight: 800;
}
.grid figure h2,
.grid figure p {
	margin: 0;
}
.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}
figure.effect-milo {
	background: #404040;
}
figure.effect-milo img {
	max-width: none;
	width: -webkit-calc(100% + 60px);
	width: calc(100% + 60px);
	opacity: 1;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-30px,0,0) scale(1.12);
	transform: translate3d(-30px,0,0) scale(1.12);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
figure.effect-milo:hover img {
	opacity: 0.5;
	-webkit-transform: translate3d(0,0,0) scale(1);
	transform: translate3d(0,0,0) scale(1);
}
figure.effect-milo h2 {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 1em 1.2em;
}
figure.effect-milo p {
	padding: 0 10px 0 0;
	width: 50%;
	border-right: 1px solid #fff;
	text-align: right;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-40px,0,0);
	transform: translate3d(-40px,0,0);
}
figure.effect-milo:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
@media (max-width: 800px) {
	#portfolio .effect-milo h2 {
		font-size: 0.8em;
	}
}
@media (max-width: 800px) {
	#portfolio .container {
		padding: 30px;
	}
}
/*CONTACT*/
#contact h2 {
	margin-bottom: 50px;
}
#contact i {
	padding: 10px;
	/*border: 3px solid white;*/
}
#contact {
	background-color: lightgrey;
  	background: rgba(230, 230, 230, .7);
}
#contact p {
	margin-top: 10px;
}

footer{
  background-color: black;
  color: white;
}
footer .container {
  padding: 25px;
}
#shio button {
	float: right;
}
#shio
span,
a {
  font-size: 1.2em;
  vertical-align: middle;
}
#shio span {
	color: #ff531a;
}
footer a {
	color: #ff531a;
}
#shio a {
	color: #ff531a;
}
