body {
  padding: 0 10%;
  margin-block: 50px;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 50px;
}
h3 {
  font-size: 25px;
}
h4 {
  font-size: 20px;
}
h6 {
  font-size: 14px;
}
p {
  font-size: 20px;
}

@media (max-width: 800px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 22px;
    margin-top: 6px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-style: 18px;
  }
  h6 {
    font-size: 8px;
  }
  p {
    font-size: 16px;
  }
  body {
    padding: 0 10px;
  }
}

a {
  color: #000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  position: relative;
}
.active {
  border: 5px solid #fff;
  border-top: 0;
  width: fit-content;
  height: fit-content;
  margin-block: 0;
  position: relative;
  border-radius: 0 0 20px 20px;
  padding: 0 12px;
  position: absolute;
  background-color: #fff;
  z-index: 1;
}
.title h1 {
  margin-bottom: 12px;
  padding-left: 12px;
  margin-left: 20px;
}
.title h2 {
  position: absolute;
  right: 20px;
  top: 0;
}
.bubble {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 11px;
  border-radius: 17px;
}
.main-img {
  width: 100%;
}
.main-images {
  position: relative;
}
.images-row {
  display: none;
}
.images-row img {
  width: calc(33% - 3px);
}
.eckdaten {
  margin-top: 70px;
  display: flex;
  justify-content: space-evenly;
}
.eckdaten div {
  display: flex;
  flex-direction: column;
  align-items: center
}
.eckdaten img {
  width: 50px;
}
.about-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about {
  width: 60%;
}
.about p {
  line-height: 30px;
}
@media (max-width: 500px) {
  .title h1 {
    padding-left: 0;
    margin-left: -2px;
  }
  .active {
    margin-block: -2px;
  }
}

@media (max-width: 800px) {
  .bubble {
    width: 63%;
    bottom: -50px;
    text-align: center;
  }
  .contact.contact.mobile-only {
    display: block;
    margin: 60px auto;
    width: 72%;
  }
  .contact.contact.desktop-only {
    display: none;
  }
  .only-mobile-images {
    display: block;
  }
  .more-pics img {
    width: 100% !important;
  }
  .about {
    width: 100%;
  }
}
@media (min-width: 801px) {
  .active:before {
    content: '';
    width: 48px;
    height: 24px;
    border: 12px solid #fff;
    position: absolute;
    border-top: 0;
    border-right: 0;
    border-radius: 0 0 0 33px;
    right: -41px;
    transform: rotate(90deg);
  }
  .main-img {
    height: 500px;
    object-fit: cover;
  }
  .images-row {
    display: flex;
    display: flex;
    justify-content: space-between;
    gap: 9px;
    margin-top: 6px;
  }
  .contact.mobile-only {
    display: none;
  }
  .contact.desktop-only {
    display: block;
  }
  .only-mobile-images {
    display: none;
  }
}

.contact {
  width: 28%;
  background-color: #e0dfd9;
  padding: 20px;
  height: fit-content;
  border-radius: 20px;
}
.contact h3 {
  margin-top: 0;
}
.contact img {
  width: 27px;
}
.contact a {
  text-decoration: none;
}
.phone,.mail {
  gap: 10px;
  display: flex;
  margin-bottom: 20px;
}
.more-pics {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
  align-items: flex-start;
  justify-content: center;
}
.more-pics img {
  width: calc(32% - 3px);
  object-fit: contain;
}
.credits {
  margin-top: 100px;
}
.credits p {
  font-size: 10px;
  margin: 0;
}
.credits a {
  font-size: 10px;
  line-height: 10px;
  text-decoration: none;
  color: lightgray;
}
.credits h6 {
  margin-block: 10px;
  color: lightgray;
  margin-bottom: 0;
}